.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, rgb(0, 192, 218), rgb(0, 140, 158));
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.253);
}

#search {
  max-width: 800px;
  width: 100%;
  margin: 5px;
  padding: 0 10px;
}